*{
  margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: sans-serif;
box-sizing: border-box;
     list-style: none;
}
body{
  font-family:montserrat;
}
nav{
  background: #57db50;
  height: 80px;
  width: 100%;
}
label .logo{
  color: aliceblue;
font-size: 35px;
line-height: 80px;
padding: 0 100px;
font-weight: bold;
}
nav ul{
float: right;
margin-right: 20px;


}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color:aliceblue;
  font-size: 17px;

  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a .active, a:hover{
  background: #57db50;
  transition: .5s;
}

.checkbtn{
font-size: 30px;
color: antiquewhite;
float: right;
line-height: 80px;
margin: 40px;
cursor: pointer;
display: none;
}
#check{
  display: none;

}
@media(max-width:952px){
  label.logo{
      font-size: 30px;
      padding-left: 50px;

  }
  nav ul li a{
      font-size: 16px;
  }
}
@media(max-width:858px){
.checkbtn{
  display: block;
}
ul{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgb(51, 255, 0);
  top: 80px;
  left: -100%;
  text-align: center;
  transition: all .5s;

}
nav ul li{
  display: block;
  margin: 50px 0;
  line-height: 30px;
}
nav ul li a{
  font-size: 20px;

}
a :hover, a.active{
  background: none;
  color: #146c0d;
}
#check:checked~ul{
  left: 0;
}
}
section{
  background: url(/images/xeivani.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh-80px);
  
}



 .html{
  scroll-behavior: smooth;

}

.click{
  width: 200px;
  height: 50px;
  transition: 0.5s;
  font-size: 30px;
  cursor: pointer;
  border-radius: 50px;
 margin-top: 50px;
  margin: 10px;
  background-color: #dee6df;
}

.click:hover{
  background-color: rgb(80, 84, 28);
  transform: scale(1.3);
}
.click:active{
  background-color: rgb(10, 89, 10);
}
/*-------------name--------------*/

h1 {
  font-size: 80px;
  color: rgb(23, 44, 3);
  text-shadow: 20px 20px 20px rgb(9, 11, 1);
  animation-name: h1-anim;
  animation-duration: 25s;
  animation-iteration-count: infinite;
}
@keyframes h1-anim{
  0%{transform: translateX(0px);}
  50%{
    transform: translateX(200px); 
    color: rgb(118, 170, 29); 
  }
100%{transform: translateX(0px);}
}
@media only screen and(max-width:300px){
  h1{
    font-size:20px;
    
  }
}
 /*---------blog1---------*/

.blog{
  width: 100%;
  height: auto;
  padding: 65px 0 20px 0;
}
div .blog h2{
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;

}
.blog .blog_box{
  width: 95%;
  margin: 0 auto;

}

.div .blog_img{

border-radius: 70%;

}

div .p{
  font-size: 20px;
}
.content h2 {
  font-size: 50px ;
}
.content  h2 span{
  color: rgb(24, 176, 31);
  margin-left: 15px;
  transition: 0.2s;
}
.content h2 span:hover{
  color: chartreuse;

}
.blog_tag  .home_btn{
  text-decoration: none;
  color: blue;
  padding: 8px 20px;
  position: relative;
  left: 5%;
  background: rgb(201, 227, 196);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: 0.3s;

}
.blog_tag .home_btn:hover{
  border-bottom-left-radius: 8px;
}
/*---------blob---------*/

.blog{
  width: 100%;
  height: auto;
  padding: 65px 0 20px 0;
}
.content_o h2{
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;

}
.blog .blog_box{
  width: 95%;
  margin: 0 auto;

}

.div .blog_img{

border-radius: 70%;

}

div .p{
  font-size: 20px;
}
.blog h2 {
  font-size: 50px ;
}
.blog_tag  .about_btn{
  text-decoration: none;
  color: blue;
  padding: 8px 20px;
  position: relative;
  left: 5%;
  background: rgb(201, 227, 196);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: 0.3s;

}
.blog_tag .about_btn:hover{
  border-bottom-left-radius: 8px;
}
 /*---------blog---------*/

 .blog{
  width: 100%;
  height: auto;
  padding: 65px 0 20px 0;
}
.blog h2{
  text-align: center;
  font-size: 60px;
  margin-bottom: 30px;

}
.blog .blog_box{
  width: 95%;
  margin: 0 auto;

}

div.blog img{

border-radius: 70%;

}
div .blog_tag p{
  margin-left: 50px;
  font-size: 20px;
}


.blog .blog_box .blog_card .blog_tag p{
  line-height: 23px;
font-size: 50px;
}


/*------products--------*/
.products{
  width: 100%;
  height: 100vh;
  padding: 65px 0 20px 0;

}
.products h2{
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
}
.products .products_main{
  width: 95%;
  height: 800px;
  margin: 0 auto;
  background-color: rgb(224, 228, 220);
  padding: 20px;
  border-radius: 25px;
  
}
.products .products_main .products_box{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.products.products_main p{
  width: 600px;
  text-align:justify;
  line-height: 22px;
  margin-bottom: 35px;
font-size: 50px;

}
.products .products_main .products_card {
  width: 300px;
  height: 335px;
 
  padding: 10px 20px;
  border-radius: 10px;
  margin: 0 auto;
}

.products .products_main .products_card .products_img img{
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  transition: 0.3s;
padding: 10px;
}
.products .products_main .products_card:hover .products_img img{
  transform: scale(1.1);
}
.products .products_main .products_card .products_tag h2{
  text-align: center;
  margin: 10px 0;
}
.products .products_main .products_card .products_tag p {
  width: auto;
}
.products .products_main .products_card .products_tag .products_btn{
  text-decoration: none;
  color: blue;
  padding: 8px 20px;
  position: relative;
  left: 25%;
  background: rgb(201, 227, 196);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: 0.3s;

}
.products .products_main .products_card .products_tag .products_btn:hover{
  border-bottom-left-radius: 8px;
}
.products .products_main .products_card .card{
  float: right;
  width: 40px;
  height: 40px;
  background: rgb(214, 243, 244);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  bottom: 10px;
  left: 20px;
}
.products .products_main .products_card .card i{
  font-size: 18px;
  color: black;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen {
  .products.products_main {
    width: 50%;
  }
  
}
   


  
/*----------tablebox--------*/


input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

/*----------footer----------------*/


.footer{
  width: 100%;
  background: burlywood;
}
footer .footer_main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px 0;
}


footer .footer_main .footer_tag{
  margin: 0 auto;
}
footer .footer_main .footer_tag h1{
  margin: 20px 0;
}

footer .footer_main .footer_tag p{
  margin: 9px 0;
  cursor: pointer;
}

footer .footer_main .footer_tag p i{
  margin-right: 10px;


}
footer .end{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
  font-size: 20px;
}
footer .end span{
  color: rgb(185, 129, 45);
}

footer .end span i {
  margin: 0 10px;

}


body{
  background-color: rgb(229, 216, 200);
 
}







@keyframes moveside{
  100%{
      opacity: 1;
      transform: translateX(0);
  }
}




